{% extends 'base.html' %}

{% block head %}
<h1>Template</h1>
{% endblock %}

{% block body %}
<div class="sidebar"></div>
<div class="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">AoE2 Stats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

        </div>
    </nav>
    <h1>Age of Empires 2 Statistics</h1>
    <a href="stratoptimizer">Formulate a strategy</a>
    <br>
    <a href="winrates">Analyze winrates</a>
    <br>
</div>
<div class="sidebar" style="left: auto; right: 0;"></div>
{% endblock %}
