{% extends 'base.html' %}

{% block head %}
<h1>Template</h1>
{% endblock %}

{% block body %}
<div class="sidebar"></div>
<div class="content">
    <h1>StratOptimizer</h1>
    <form action="{{ url_for('results') }}" method="POST">
        <input type="hidden" id="data_from_where" name="data_from_where" value="stratoptimizer">
        <label for="map_list">Choose a map:</label>
        <select id="map_list" name="aoe2map">
          {% for aoe2map in map_list %}
          <option value="{{ aoe2map }}">{{ aoe2map }}</option>
          {% endfor %}
        </select>
        <br>
        <label for="civ_name_list">Choose your civilization:</label>
        <select id="civ_name_list" name="player_civ_name">
          {% for player_civ_name in civ_name_list %}
          <option value="{{ player_civ_name }}">{{ player_civ_name }}</option>
          {% endfor %}
        </select>
        <br>
        <label for="civ_name_list">Choose enemy civilization:</label>
        <select id="civ_name_list" name="enemy_civ_name">
          {% for enemy_civ_name in civ_name_list %}
          <option value="{{ enemy_civ_name }}">{{ enemy_civ_name }}</option>
          {% endfor %}
        </select>
        <br>
        <label for="elo">Choose elo range:</label>
        <select id="elo" name="elo">
          <option value="all">All</option>
          <option value="low">Low (<1000)</option>
          <option value="med">Medium (1000-1300)</option>
          <option value="high">High (over 1300)</option>
          <option value="veryhigh">Very High (over 1500)</option>
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
<div class="sidebar" style="left: auto; right: 0;"></div>
{% endblock %}
