{% extends 'base.html' %}

{% block head %}
<h1>Template</h1>
{% endblock %}

{% block body %}
<div class="sidebar"></div>
<div class="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">AoE2 Stats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            {% for item in nav.top %}
                <li class="nav-item {{ 'active' if item.is_active else '' }}">
                    <a class="nav-link" href="{{ item.url }}">{{ item.label }}</a>
                </li>
            {% endfor %}
        </div>
    </nav>
    <h1>Top civilizations by winrate</h1>
    <form action="{{ url_for('results') }}" method="POST">
        <input type="hidden" id="data_from_where" name="data_from_where" value="winrates">
        <label for="min_elo">Input minimum ELO:</label>
        <input type="number" id="min_elo" name="min_elo">
        <br>
        <label for="map_list">Choose a map:</label>
        <select id="map_list" name="aoe2map">
            {% for aoe2map in map_list %}
            <option value="{{ aoe2map }}">{{ aoe2map }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="duration">Input maximum match duration: (HH:MM:SS)</label>
        <input type="text" id="duration" name="duration">
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
<div class="sidebar" style="left: auto; right: 0;"></div>
{% endblock %}
