body {
  margin: 0;
  font-family: sans-serif;
}
table.dataframe {
  border-collapse: collapse;
  width: 100%;
}
table.dataframe th, table.dataframe td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}
table.dataframe th {
  background-color: #f2f2f2;
}
.sidebar {
  width: 25%;
  height: 100vh;
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}
.content {
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
  background-color: white;
  height: 100vh;
}
.form-box {
  background-color: bisque;
  vertical-align:auto;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
.input-label {
}
.input-area {
  float: right;
  width: 250px;
}
.navbar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  float: left;
}
.navbar-box {
  display: flex;
}
.button-wrapper {
  display: flex;
  flex-direction: row;
}
.button-wrapper-box {
  display: flex;
  flex-grow: 1;
}
.button-reset {
  flex-grow: 2;
  margin-left: 0.5em;
}
.button-submit {
  flex-grow: 2;
}
#duration {
  float: left;
}
.range_container {
  display: flex;
  float: right;
  flex-direction: column;
  width: 16em;
  margin-top: 3%;
}
.sliders_control {
  position: relative;
  min-height: 14px;
}
.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #635a5a;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;  
}
input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}
input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}
input[type="number"] {
  color: #8a8383;
  width: 50px;
  height: 18px;
  font-size: 16px;
  border: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
    opacity: 1;
}
input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}
#fromSlider {
  height: 0;
  z-index: 1;
}